@{
	ViewData["Title"] = "CartInfo";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<ThongFastFood_Api.Models.CartVM>

<!-- Breadcrumb -->
<div id="breadcrumb">
	<div class="container">
		<h2 class="title">Giỏ Hàng</h2>

		<ul class="breadcrumb">
			<li><a asp-controller="MainPage" asp-action="Index">Trang Chủ</a></li>
			<li><span>Giỏ Hàng</span></li>
		</ul>
	</div>
</div>

<div class="container">
	<div class="page-cart">
		<div class="table-responsive">
			<table class="cart-summary table table-bordered">
				<thead>
					<tr>
						<th class="col-1"></th>
						<th class="col-1 text-center"><strong>Hình</strong></th>
						<th class="col-4 text-center"><strong>Tên</strong></th>
						<th class="col-2 text-center"><strong>Giá</strong></th>
						<th class="col-2 text-center"><strong>Số Lượng</strong></th>
						<th class="col-2 text-center"><strong>Tổng</strong></th>
					</tr>
				</thead>

				<tbody>
					@foreach(var item in Model)
					{
						<tr>
							<td class="product-remove text-center">
								<a title="Remove this item" class="remove">
									<i class="fa fa-times"></i>
								</a>
							</td>
							<td class="text-center">
								<a asp-controller="Category" asp-action="DetailProduct">
									<img width="80px" alt="Product Image" src="~/img/product/@item.Image">
								</a>
							</td>
							<td class="text-center">
								<a asp-controller="Category" asp-action="DetailProduct" class="product-name">@item.Name</a>
							</td>
							<td class="text-center">
								@String.Format("{0:N0}", @item.Price)đ
							</td>
							<td class="text-center">
								<div class="product-quantity">
									<div class="qty">
										<div class="input-group">
											<input type="number" name="qty" value="@item.Quantity" data-min="1">
										</div>
									</div>
								</div>
							</td>
							<td class="text-center">
								@item.Subtotal
							</td>
						</tr>
					}
				</tbody>

				<tfoot>
					<tr class="cart-total">
						<td rowspan="3" colspan="3"></td>
						<td colspan="2" class="text-right">Thành tiền</td>
						<td colspan="1" class="text-center">$565</td>
					</tr>
					<tr class="cart-total">
						<td colspan="2" class="text-right">Phí Ship</td>
						<td colspan="1" class="text-center">$10</td>
					</tr>
					<tr class="cart-total">
						<td colspan="2" class="total text-right">Tổng Tiền</td>
						<td colspan="1" class="total text-center">$575</td>
					</tr>
				</tfoot>
			</table>
		</div>

		<div class="checkout-btn">
			<a href="#" class="btn btn-primary pull-left">
				<span>Xóa Tất Cả</span>
			</a>
			<a href="#" class="btn btn-primary pull-left">
				<span>Cập Nhật Giỏ Hàng</span>
			</a>
			<a asp-controller="Cart" asp-action="CheckOut" class="btn btn-primary pull-right">
				<span>Tiến Hành Thanh Toán</span>
				<i class="fa fa-angle-right ml-xs"></i>
			</a>

		</div>
	</div>
</div>

