@{
	ViewData["Title"] = "CartInfo";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<ThongFastFood_Api.Models.CartVM>
@{
	var totalAmount = ThongFastFood_Api.Models.CartVM.CalculateTotalAmount(Model);
}
	
<!-- Breadcrumb -->
<div id="breadcrumb">
	<div class="container">
		<h2 class="title">Giỏ Hàng</h2>

		<ul class="breadcrumb">
			<li><a asp-controller="MainPage" asp-action="Index">Trang Chủ</a></li>
			<li><span>Giỏ Hàng</span></li>
		</ul>
	</div>
</div>

<div class="container">
	<div class="page-cart">
		
		@if (Model == null || !Model.Any())
		{
			<div class="alert alert-warning" role="alert">
				<h3 class="text-center">Giỏ hàng của bạn trống.</h3>
			</div>
		}
		else
		{
		<div class="table-responsive">
			<table class="cart-summary table table-bordered">
				<thead>
					<tr>
						<th class="col-1 text-center"><strong>Hình</strong></th>
						<th class="col-3 text-center"><strong>Tên</strong></th>
						<th class="col-2 text-center"><strong>Giá</strong></th>
						<th class="col-2 text-center"><strong>Số Lượng</strong></th>
						<th class="col-2 text-center"><strong>Thành Tiền</strong></th>
						<th class="col-1"></th>
						<th class="col-1"></th>
					</tr>
				</thead>

				<tbody>
					@foreach(var item in Model)
					{
						<tr>
							<td class="text-center">
								<a asp-controller="Category" asp-action="DetailProduct" asp-route-id="@item.Product_Id">
									<img width="80px" alt="Product Image" src="~/img/product/@item.Image">
								</a>
							</td>
							<td class="text-center">
								<a asp-controller="Category" asp-action="DetailProduct" asp-route-id="@item.Product_Id" class="product-name">@item.Name</a>
							</td>
							<td class="text-center">
								@String.Format("{0:N0}", @item.Price)đ
							</td>
							<form asp-controller="Cart" asp-action="UpdateCart" asp-route-cartId="@item.CartId">
								<td class="text-center">
									<div class="product-quantity">
										<div class="qty">
											<div class="input-group">
												<input type="number" name="quantity" value="@item.Quantity" min="1">
											</div>
										</div>
									</div>
								</td>
								<td class="text-center">
										@item.Subtotal
								</td>
								<td class="product-remove text-center">
									<button type="submit" class="btn btn-secondary">
									<i class="fa fa-edit" style="font-size: 20px"></i>
									</button>
								</td>
							</form>
							<td class="product-remove text-center">
								<a title="Remove this item" class="remove" asp-controller="Cart" asp-action="RemoveItem" asp-route-cartId="@item.CartId">
									<i class="fa fa-times" style="font-size: 20px"></i>
								</a>
							</td>
						</tr>
					}
				</tbody>

				<tfoot>
					<tr class="cart-total">
						<td rowspan="3" colspan="2"></td>
						<td colspan="2" class="text-right text-danger"><h4>Tổng Tiền</h4></td>
						<td colspan="1" class="text-center text-danger"><strong>@String.Format("{0:N0}", totalAmount)đ</strong></td>
					</tr>
				</tfoot>
			</table>
		</div>

		<div class="checkout-btn">
			<a asp-controller="Cart" asp-action="ClearItem" class="btn btn-primary pull-left">
				<span>Xóa Tất Cả</span>
			</a>
			<a asp-controller="Cart" asp-action="CheckOut" class="btn btn-primary pull-right">
				<span>Tiến Hành Thanh Toán</span>
				<i class="fa fa-angle-right ml-xs"></i>
			</a>
		</div>
		}
	</div>
</div>

