@{
	ViewData["Title"] = "CheckOut";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<ThongFastFood_Api.Models.CartVM>
@{
	var totalAmount = ThongFastFood_Api.Models.CartVM.CalculateTotalAmount(Model);
}

<!-- Breadcrumb -->
<div id="breadcrumb">
	<div class="container">
		<h2 class="title">Thanh Toán</h2>

		<ul class="breadcrumb">
			<li><a asp-controller="MainPage" asp-action="Index">Home</a></li>
			<li><a asp-controller="Cart" asp-action="CartInfo">Shopping Cart</a></li>
			<li><span>Thanh Toán</span></li>
		</ul>
	</div>
</div>

<div class="container">
	<div class="page-checkout">
		<div class="row">
			<div class="checkout-left col-lg-9 col-md-9 col-sm-9 col-xs-12">
				<p>Khách hàng trở lại? Đăng nhập tại <a class="login" asp-controller="User" asp-action="Login"> đây</a>.</p>
				<form asp-action="CheckOut" asp-controller="Cart" method="post" id="formcheckout" method="post" class="form-horizontal">
					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
										Thông Tin Giao Hàng
									</a>
								</h4>
							</div>

							<div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
								<div class="panel-body">
									<div class="form-group">
										<div class="col-md-12">
											<label>Tên Khách Hàng</label>
											<input type="text" name="CustomerName" class="form-control">
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<label>Địa Chỉ</label>
											<input type="text" name="DeliveryAddress" class="form-control">
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<label>Số Điện Thoại </label>
											<input type="text" name="PhoneNo" class="form-control">
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<label>Ghi Chú </label>
											<input type="text" name="Note" class="form-control">
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
										Sản Phẩm Bạn Mua
									</a>
								</h4>
							</div>
							<div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
								<div class="panel-body">
									<table class="cart-summary table table-bordered">
										<thead>
											<tr>
												<th class="width-80 text-center">Hình</th>
												<th>Tên sản phẩm</th>
												<th class="width-100 text-center">Giá</th>
												<th class="width-100 text-center">Số lượng</th>
												<th class="width-100 text-center">Tổng tiền</th>
											</tr>
										</thead>

										<tbody>
											@foreach(var item in Model)
											{
												<tr>
													<td>
														<a asp-controller="Category" asp-action="DetailProduct" asp-route-id="@item.Product_Id">
															<img width="80" alt="Product Image" class="img-responsive" src="~/img/product/@item.Image">
														</a>
													</td>
													<td>
														<a asp-controller="Category" asp-action="DetailProduct" asp-route-id="@item.Product_Id" class="product-name">@item.Name</a>
													</td>
													<td class="text-center">
														@String.Format("{0:N0}", @item.Price)đ
													</td>
													<td class="text-center">
														@item.Quantity
													</td>
													<td class="text-center">
														@String.Format("{0:N0}", @item.Subtotal)đ
													</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="pull-right" style="margin-right: 5px;">
						<input type="submit" name="payment" value="VNPAY" class="btn btn-primary">
					</div>
					<div class="pull-right">
						<input type="submit" name="payment" value="Ship (COD)" class="btn btn-primary">
					</div>
				</form>
			</div>

			<div class="checkout-right col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<h4 class="title">Giỏ Hàng</h4>
				<table class="table cart-total">
					<tbody>
						<tr class="cart-subtotal">
							<th>
								<strong>Thành Tiền</strong>
							</th>
							<td>
								<strong><span class="amount">@String.Format("{0:N0}", totalAmount)đ</span></strong>
							</td>
						</tr>
						<tr class="shipping">
							<th>
								Phí Ship
							</th>
							<td>
								Miễn Phí
							</td>
						</tr>
						<tr class="total">
							<th>
								<strong>Tổng tiền</strong>
							</th>
							<td>
								<strong><span class="amount">@String.Format("{0:N0}", totalAmount)đ</span></strong>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

