@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<ThongFastFood_Api.Models.ProductVM>

@{
	// Sắp xếp sản phẩm mới theo ngày đăng sản phẩm
	var sapxepspmoi = Model.OrderByDescending(p => p.AddDate).Take(8);
}

<!-- Slideshow -->
<div class="section slideshow">
	<div class="tiva-slideshow-wrapper">
		<div id="tiva-slideshow" class="nivoSlider">
			<a>
				<img class="img-responsive" src="~/img/slideshow/home1-slideshow-1.jpg" alt="Slideshow Image">
			</a>
			<a>
				<img class="img-responsive" src="~/img/slideshow/home1-slideshow-2.jpg" alt="Slideshow Image">
			</a>
			<a>
				<img class="img-responsive" src="~/img/slideshow/home1-slideshow-3.jpg" alt="Slideshow Image">
			</a>
		</div>
	</div>
</div>


<!-- Product - Best Sellers -->
<div class="section products-block product-tab nav-color show-hover nav-round best-sellers">
	<div class="block-title">
		<h2 class="title"><span>Sản Phẩm Mới</span></h2>
	</div>

	<div class="block-content">
		<!-- Tab Content -->
		<div class="tab-content">
			<!-- All Products -->
			<div role="tabpanel" class="tab-pane fade in active" id="all-products">
				<div class="products owl-theme owl-carousel">
					@foreach(var item in sapxepspmoi)
					{
						<div class="product-item">
							<div class="product-image">
								<a asp-controller="Category" asp-action="DetailProduct" asp-route-id="@item.ProductId">
									<img src="~/img/product/@item.ProductImage" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a asp-controller="Category" asp-action="DetailProduct" asp-route-id="@item.ProductId">
									@item.ProductName
								</a>
							</div>

							<div class="product-price">
								<span class="sale-price">@String.Format("{0:N0}", item.ProductPrice)đ</span>

							</div>

							<div class="product-buttons">
								<a class="add-to-cart" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@item.ProductId">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="quickview" asp-controller="Category" asp-action="DetailProduct" asp-route-productId="@item.ProductId">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>

