@{
	ViewData["Title"] = "UserInfo";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ThongFastFood_Api.Models.UserVM

<!-- Breadcrumb -->
<div id="breadcrumb">
	<div class="container">
		<h2 class="title">Thông Tin Người Dùng</h2>

		<ul class="breadcrumb">
			<li><a asp-controller="MainPage" asp-action="Index">Trang Chủ</a></li>
			<li><span>Thông Tin Người Dùng</span></li>
		</ul>
	</div>
</div>


<div class="container">
	<div class="register-page">
		<div class="register-form form">

			<form asp-controller="MainPage" asp-action="UserInfo" method="post">
				<input hidden value="@Model.Id" name="Id" />
				<div class="form-group">
					<div class="col-md-12">
						<label>Họ và Tên</label>
						<input type="text" value="@Model.FullName" name="FullName">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-6">
						<label>Email</label>
						<input type="email" readonly value="@Model.Email" name="Email" 
						style="background: #dadada;">
					</div>
					<div class="col-md-6">
						<label>Số điện thoại</label>
						<input type="text" value="@Model.PhoneNumber" name="PhoneNumber">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<label>Địa Chỉ</label>
						<input type="text" value="@Model.Address" name="Address">
					</div>
				</div>
				<div class="form-group text-center">
					<input type="submit" class="btn btn-primary" value="Lưu Thay Đổi">
				</div>
			</form>
		</div>
	</div>
</div>

