@model ThongFastFood_Api.Models.OrderView

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        color: #333;
        margin: 0;
        padding: 0;
    }

    .container {
        width: 80%;
        margin: 50px auto;
        background-color: #fff;
        border-radius: 10px;
        padding: 30px;
    }

    .title {
        text-align: center;
        margin-bottom: 20px;
        color: #d9534f;
    }

    h3 {
        color: #5bc0de;
        margin-bottom: 10px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    .text-center {
        text-align: center;
    }

    .text-danger {
        color: #d9534f;
    }

    .no-border {
        border: none;
        vertical-align: top;
        text-align: left;
    }

    .thank-you {
        margin-top: 30px;
        text-align: center;
        color: #5bc0de;
    }
</style>
    
<div class="container">
    <h2 class="title">Hóa Đơn</h2>
    <table>
        <tr>
            <td class="no-border" colspan="3">
                <h3>Thông tin Đơn Hàng</h3>
                <p><strong>Mã hóa đơn:</strong> @Model.OrderId</p>
                <p><strong>Thời Gian Đặt:</strong> @Model.OrderTime</p>
            </td>
            <td class="no-border" colspan="2">
                <h3>Thông tin Khách Hàng</h3>
                <p><strong>Tên khách hàng:</strong> @Model.CustomerName</p>
                <p><strong>Địa chỉ giao:</strong> @Model.DeliveryAddress</p>
                <p><strong>Số điện thoại:</strong> @Model.PhoneNo</p>
                <p><strong>Ghi chú:</strong> @Model.Note</p>
            </td>
        </tr>
    </table>
    <table>
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderDetail in Model.OrderDetails)
            {
                <tr>
                    <td>@orderDetail.ProductName</td>
                    <td>@orderDetail.ProductPrice</td>
                    <td>@orderDetail.Quantity</td>
                    <td>@orderDetail.SubTotal</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"></td>
                <td class="text-center"><strong>Tổng tiền</strong></td>
                <td class="text-center text-danger"><strong>@Model.TotalAmount đ</strong></td>
            </tr>
        </tfoot>
    </table>
    <div class="thank-you">
        <h4>Cảm ơn quý khách đã mua hàng!</h4>
    </div>
</div>
