@{
	ViewData["Title"] = "Detail Product";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ThongFastFood_Api.Models.DetailProductVM


<!-- Breadcrumb -->
<div id="breadcrumb">
	<div class="container">
		<h2 class="title">Sản Phẩm Chi Tiết</h2>

		<ul class="breadcrumb">
			<li><a asp-controller="MainPage" asp-action="Index">Trang Chủ</a></li>
			<li><a asp-controller="Category" asp-action="ListProduct">Danh Mục Sản Phẩm</a></li>
			<li><span>@Model.ProductName</span></li>
		</ul>
	</div>
</div>


<div class="container">
	<div class="product-detail">
		<div class="products-block layout-5">
			<div class="product-item">
				<div class="product-title">
					@Model.ProductName
				</div>

				<div class="row">
					<div class="product-left col-md-4 col-sm-4 col-xs-12">
						<div class="product-image horizontal">
							<div class="main-image">
								<img class="img-responsive" src="~/img/product/@Model.ProductImage" alt="Product Image">
							</div>
						</div>
					</div>

					<div class="product-right col-md-5 col-sm-4 col-xs-12">
						<div class="product-info">
							<div class="product-price">
								<span class="sale-price">@String.Format("{0:N0}", Model.ProductPrice)đ</span>
							</div>

							<div class="product-short-description">
								@Model.Description
							</div>
							<form asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@Model.ProductId">
								<div class="product-add-to-cart border-bottom">
									<div class="product-quantity">
										<span class="control-label">Số lượng:</span>
										<div class="qty">
											<div class="input-group">
												<input type="number" name="quantity" value="1" min="1">
											</div>
										</div>
									</div>
								</div>
								<div class="product-share">
									<button class="btn btn-secondary" type="submit">
										<a class="add-to-cart">
											<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											<span>Thêm vào giỏ</span>
										</a>
									</button>
								</div>
							</form>
						</div>
					</div>

					<div class="payment-intro col-md-3 col-sm-4 col-xs-12">
						<div class="block-content">
							<div class="item">
								<img class="img-responsive" src="~/img/home2-payment-1.png" alt="Payment Intro">
								<h3 class="title">Free Shipping item</h3>
								<div class="content">Proin gravida nibh vel velit auctor aliquet aenean</div>
							</div>
							<div class="item">
								<img class="img-responsive" src="~/img/home2-payment-2.png" alt="Payment Intro">
								<h3 class="title">Secured Payment</h3>
								<div class="content">Proin gravida nibh vel velit auctor aliquet aenean</div>
							</div>
							<div class="item">
								<img class="img-responsive" src="~/img/home2-payment-3.png" alt="Payment Intro">
								<h3 class="title">money back guarantee</h3>
								<div class="content">Proin gravida nibh vel velit auctor aliquet aenean</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product-tab">
					<!-- Tab Navigation -->
					<div class="tab-nav">
						<ul>
							<li class="active">
								<a data-toggle="tab" href="#description">
									<span>Mô tả sản phẩm</span>
								</a>
							</li>
							<li>
								<a data-toggle="tab" href="#review">
									<span>Đánh giá sản phẩm</span>
								</a>
							</li>
						</ul>
					</div>

					<!-- Tab Content -->
					<div class="tab-content">
						<!-- Description -->
						<div role="tabpanel" class="tab-pane fade in active" id="description">
							<p>@Model.Description</p>
						</div>

						<!-- Review -->
						<div role="tabpanel" class="tab-pane fade" id="review">
							<div class="reviews">
								<div class="comments-list">
									@foreach (var comment in Model.Comments)
                                    {
                                        <div class="row">
											<div class="col-md-12">
												<div class="item">
													<div class="comment-body">
														<div class="comment-meta">
															<span class="author">@comment.CustomerName</span> -
															<span class="time">@comment.ReviewDate.ToString("MMMM dd, yyyy, hh:mm:ss tt")</span> 
															@* <span>
																<a href="#">
																	<i class="fa fa-trash" aria-hidden="true"></i> <!-- Gọi hàm xóa -->
																</a>
															</span> *@
														</div>
														<div class="comment-content">@comment.Comment</div>
													</div>
												</div>
											</div>
										</div>
                                    }
								</div>

								<div class="review-form">
									<h4 class="title">Viết đánh giá</h4>

									<form id="commentForm" asp-controller="Category" asp-action="WriteComment" method="post" class="form-validate">
										<input type="hidden" name="productId" value="@Model.ProductId" />
										<div class="form-group">
											<div class="text">Nhận xét của bạn <sup class="required">*</sup></div>
											<textarea class="form-control" id="comment" name="comment" cols="45" rows="6" aria-required="true"></textarea>
										</div>

										<div class="form-group">
											<button class="btn btn-primary" type="submit">Bình luận</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- Related Products -->
	<div class="products-block related-products item-4">
		<div class="block-title">
			<h2 class="title"><span>Sản phẩm liên quan</span></h2>
		</div>

		@await Component.InvokeAsync("RelatedProducts", 
		new { categoryId = Model.Category_Id, currentProductId = Model.ProductId })
	</div>
</div>

