@{
    ViewData["Title"] = "List Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IPagedList<ThongFastFood_Api.Models.ProductVM>
@using PagedList;

<!-- Breadcrumb -->
<div id="breadcrumb">
    <div class="container">
        <h2 class="title">Danh Mục Sản Phẩm</h2>

        <ul class="breadcrumb">
            <li><a asp-controller="MainPage" asp-action="Index">Trang Chủ</a></li>
            <li>Danh Mục Sản Phẩm</li>
        </ul>
    </div>
</div>

<form id="sortForm" asp-controller="Category" asp-action="ListProduct" method="get">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <div id="left-column" class="sidebar col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <!-- Block - Product Categories -->
                @* Loai san pham *@
                @await Component.InvokeAsync("ListCategory")

                <!-- Block - Filter -->
                <div class="block product-filter">
                    <h3 class="block-title">Giá</h3>

                    <div class="block-content">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="priceRangeAll" name="priceRange" value="all" checked>
                            <label class="form-check-label" for="priceRangeAll">
                                Tất cả
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="priceRange10to20" name="priceRange" value="0-20k">
                            <label class="form-check-label" for="priceRange10to20">
                                0 - 20k
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="priceRange20to50" name="priceRange" value="20-50k">
                            <label class="form-check-label" for="priceRange20to50">
                                20-50k
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="priceRangeAbove50" name="priceRange" value="50k">
                            <label class="form-check-label" for="priceRangeAbove50">
                                50k trở lên
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group text-left">
                    <input type="submit" class="btn btn-primary" value="Lọc">
                </div>
            </div>

            <!-- Page Content -->
            <div id="center-column" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="product-category-page">
                    <!-- Nav Bar -->
                    <div class="products-bar">
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <<div class="total-products">Có @ViewData["TotalProducts"] sản phẩm</div>
                            </div>

                            <div class="col-md-8 col-xs-8">
                                <div class="filter-bar">
                                    <div class="select pull-right">
                                        <select class="form-control" id="sortSelect" name="sort">
                                            <option value="">Sắp Xếp</option>
                                            <option value="name_asc">A -> Z</option>
                                            <option value="name_desc">Z -> A</option>
                                            <option value="price_asc">Giá tăng</option>
                                            <option value="price_desc">Giá giảm</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-block">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                @if (item.IsActive)
                                {
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a asp-controller="Category" asp-action="DetailProduct" asp-route-id="@item.ProductId">
                                                    <img class="img-responsive" src="~/img/product/@item.ProductImage" alt="Product Image">
                                                </a>
                                            </div>

                                            <div class="product-title">
                                                <a asp-controller="Category" asp-action="DetailProduct" asp-route-id="@item.ProductId">
                                                    @item.ProductName
                                                </a>
                                            </div>

                                            <div class="product-price">
                                                <span class="sale-price">@String.Format("{0:N0}", item.ProductPrice)đ</span>

                                            </div>

                                            <div class="product-buttons">
                                                <a class="add-to-cart" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@item.ProductId">
                                                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                </a>

                                                <a class="quickview" asp-controller="Category" asp-action="DetailProduct" asp-route-id="@item.ProductId">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <!-- Pagination Bar -->
                    <div class="pagination-bar" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-12">
                                <div class="pagination">
                                    <ul class="page-list" style="display: inline-block;">
                                        @if (Model.HasPreviousPage)
                                        {
                                            <li>
                                                <a class="prev" asp-controller="Category" 
                                                    asp-action="ListProduct"
                                                    asp-route-categoryId="@ViewData["CurrentCategoryId"]"
                                                    asp-route-page="@(Model.PageNumber - 1)"
                                                    asp-route-search="@ViewData["CurrentSearch"]"
                                                    asp-route-sort="@ViewData["CurrentSort"]" 
                                                    asp-route-priceRange="@ViewData["CurrentPriceRange"]">
                                                    Trước
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="disabled">
                                                <a class="prev">Trước</a>
                                            </li>
                                        }
                                        @for (int i = 1; i <= Model.PageCount; i++)
                                        {
                                            <li>
                                                <a class="@(i == Model.PageNumber ? "current" : "")" 
                                                    asp-controller="Category"
                                                    asp-route-categoryId="@ViewData["CurrentCategoryId"]"
                                                    asp-action="ListProduct" 
                                                    asp-route-page="@i"
                                                    asp-route-search="@ViewData["CurrentSearch"]"
                                                    asp-route-sort="@ViewData["CurrentSort"]" 
                                                    asp-route-priceRange="@ViewData["CurrentPriceRange"]">
                                                    @i
                                                </a>
                                            </li>
                                        }
                                        @if (Model.HasNextPage)
                                        {
                                            <li>
                                                <a class="next" asp-controller="Category" 
                                                    asp-action="ListProduct"
                                                    asp-route-categoryId="@ViewData["CurrentCategoryId"]"
                                                    asp-route-page="@(Model.PageNumber + 1)" 
                                                    asp-route-sort="@ViewData["CurrentSort"]"
                                                    asp-route-search="@ViewData["CurrentSearch"]"
                                                    asp-route-priceRange="@ViewData["CurrentPriceRange"]">
                                                    Sau
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="disabled">
                                                <a class="next">Sau</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="categoryId" value="@ViewData["CurrentCategoryId"]" />
</form>


