@model IEnumerable<ThongFastFood_Api.Models.ProductVM>

@{
	var getRelatedPros = Model.Take(6);
}

<div class="block-content">
	<div class="products owl-theme owl-carousel">
		@foreach(var item in getRelatedPros)
		{
            <div class="product-item">
                <div class="product-image">
                    <a asp-controller="Category" asp-action="DetailProduct" asp-route-id="@item.ProductId">
                        <img src="~/img/product/@item.ProductImage" alt="Product Image">
                    </a>
                </div>
                <div class="product-title">
                    <a asp-controller="Category" asp-action="DetailProduct" asp-route-id="@item.ProductId">
                        @item.ProductName
                    </a>
                </div>
                <div class="product-price">
                    <span class="sale-price">@String.Format("{0:N0}", item.ProductPrice)đ</span>
                </div>
                <div class="product-buttons">
                    <a class="add-to-cart" asp-controller="Cart" asp-action="CartInfo">
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    </a>
                    <a class="quickview" asp-controller="Category" asp-action="DetailProduct" asp-route-id="@item.ProductId">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
		}
	</div>
</div>