@model IEnumerable<ThongFastFood_Api.Models.CategoryVM>


<div class="block product-categories">
	<h3 class="block-title">Loại</h3>

	<div class="block-content">
		@foreach(var item in Model){
			@if (item.IsActive)
			{
				<div class="item">
					<a class="category-title" 
					asp-controller="Category" 
					asp-action="ListProduct"
					asp-route-categoryId="@item.CategoryId"
					asp-route-sort="@ViewData["CurrentSort"]"
					asp-route-priceRange="@ViewData["CurrentPriceRange"]"
					asp-route-search="@ViewData["CurrentSearch"]">
					@item.CategoryName</a>
				</div>
			}
		}
	</div>
</div>